{% extends "layout.html" %} {% block content %}
<main id="main" class="main">

    <div class="pagetitle">
        <h1>Dashboard</h1>
    </div>
    <!-- End Page Title -->

    <section class="section dashboard">
        <div class="row">

            <!-- Left side columns -->
            <div class="col-lg-8">
                <div class="row">

                    <!-- Panel Display Card -->
                    <div class="col-xxl-6 col-md-6">
                        <div class="card info-card sales-card">
                            <div class="card-body">
                                <h5 class="card-title">Panel Display <i class="bi bi-info-square-fill"></i></h5>

                                <div class="d-flex align-items-center">
                                    <div class="ps-3 display">
                                        <h6 id="display1">Waiting connection</h6>
                                        <h6 id="display2">to AquaLogic</h6>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <!-- End Panel Display Card -->

                    <!-- Controls Card -->
                    <div class="col-xxl-6 col-xl-12">

                        <div class="card info-card customers-card">

                            <div class="card-body">
                                <h5 class="card-title">Toggles</h5>
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center circle-on">
                                        <i class="fa-solid fa-power-off" id="led-filter"></i>
                                    </div>
                                    <div class="ps-3">

                                        <div class="checkbox-wrapper-51">
                                            <input id="filter" type="checkbox" class="button-toggle">
                                            <label class="toggle" for="filter">
                                                  <span>
                                                    <svg viewBox="0 0 10 10" height="10px" width="10px">
                                                      <path d="M5,1 L5,1 C2.790861,1 1,2.790861 1,5 L1,5 C1,7.209139 2.790861,9 5,9 L5,9 C7.209139,9 9,7.209139 9,5 L9,5 C9,2.790861 7.209139,1 5,1 L5,9 L5,1 Z"></path>
                                                    </svg>
                                                  </span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center circle-on">
                                        <i class="fa-solid fa-hot-tub-person" id="led-poolspa"></i>
                                    </div>
                                    <div class="ps-3">

                                        <label class="rocker rocker-small">
                                                <input type="checkbox" id="pool_spa_spillover" value="poolspa" checked="checked" class="button-toggle">
                                                <span class="switch-left">Pool</span>
                                                <span class="switch-right">Spa</span>
                                            </label>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center circle-on">
                                        <i class="fa-solid fa-lightbulb" id="led-lights"></i>
                                    </div>
                                    <div class="ps-3">

                                        <div class="checkbox-wrapper-51">
                                            <input id="lights" type="checkbox" class="button-toggle">
                                            <label class="toggle" for="lights">
                                                  <span>
                                                    <svg viewBox="0 0 10 10" height="10px" width="10px">
                                                      <path d="M5,1 L5,1 C2.790861,1 1,2.790861 1,5 L1,5 C1,7.209139 2.790861,9 5,9 L5,9 C7.209139,9 9,7.209139 9,5 L9,5 C9,2.790861 7.209139,1 5,1 L5,9 L5,1 Z"></path>
                                                    </svg>
                                                  </span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                                <div class="d-flex align-items-center">
                                    <div class="card-icon rounded-circle d-flex align-items-center justify-content-center circle-on">
                                        <i class="fa-solid fa-fire" id="led-heater1"></i>
                                    </div>
                                    <div class="ps-3">

                                        <div class="checkbox-wrapper-51">
                                            <input id="heater1" type="checkbox" class="button-toggle">
                                            <label class="toggle" for="heater1">
                                                  <span>
                                                    <svg viewBox="0 0 10 10" height="10px" width="10px">
                                                      <path d="M5,1 L5,1 C2.790861,1 1,2.790861 1,5 L1,5 C1,7.209139 2.790861,9 5,9 L5,9 C7.209139,9 9,7.209139 9,5 L9,5 C9,2.790861 7.209139,1 5,1 L5,9 L5,1 Z"></path>
                                                    </svg>
                                                  </span>
                                                </label>
                                        </div>
                                    </div>
                                </div>
                                &nbsp;
                            </div>
                        </div>

                    </div>
                    <!-- End Controls Card -->

                </div>
            </div>
            <!-- End Left side columns -->

            <!-- Right side columns -->
            <div class="col-lg-4">

                <!-- Recent Activity -->
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Service</h5>

                        <div class="d-flex align-items-center">
                            <div class="card-icon rounded-circle d-flex align-items-center justify-content-center circle-on">
                                <i class="fa-solid fa-triangle-exclamation" id="led-service"></i>
                            </div>
                            <div class="ps-3">

                                <div class="checkbox-wrapper-51">
                                    <input id="service" type="checkbox">
                                    <label class="toggle" for="service">
                                          <span>
                                            <svg viewBox="0 0 10 10" height="10px" width="10px">
                                              <path d="M5,1 L5,1 C2.790861,1 1,2.790861 1,5 L1,5 C1,7.209139 2.790861,9 5,9 L5,9 C7.209139,9 9,7.209139 9,5 L9,5 C9,2.790861 7.209139,1 5,1 L5,9 L5,1 Z"></path>
                                            </svg>
                                          </span>
                                        </label>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <!-- End Recent Activity -->

            </div>
            <!-- End Right side columns -->

        </div>
    </section>
    {% endblock %}